@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');


body {
    background-color: grey;
    font-family: 'Lato', sans-serif !important; 
}

div.logo img{
    width: 50%;
    padding: 5px 10px;
} 

#usr {
    margin-left: -15px;
}

img.mr-2 {
    border-radius: 50%;
}

.border-bar {
    display: flex !important;
    align-items: center;
    border-left: 5px solid orange !important;
}

.border-bar p {
    padding: 0;
    margin: 0;
    color: #3323F5;
}

.user-card {
    width: 100% !important;
    border: 1px solid black
}

.border-bottom {
    border-bottom: 3px solid grey;
}
.grid-box {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr;
}